.sidebarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebarFriendImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}